<h1 mat-dialog-title>Add New Device</h1>
<mat-dialog-content>
	<mat-vertical-stepper #stepper linear>
	<!-- <mat-vertical-stepper> -->
		<mat-step [stepControl]="locateGroup" label="Locate Device">
			<form [formGroup]="locateGroup" autocomplete="off" (ngSubmit)="locate()" *ngIf="!locateRunning; else elseBlock">
				<mat-form-field>
					<input matInput [(ngModel)]="deviceData.ip" formControlName="ipCtrl" placeholder="Device's IP Address" #ipField>
					<mat-error *ngIf="locateGroup.controls.ipCtrl.invalid">
						{{ getValidationError(locateGroup.controls.ipCtrl) }}
					</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput [(ngModel)]="deviceData.ssh_port" formControlName="sshPortCtrl" placeholder="SSH Port">
				</mat-form-field>
				<button mat-raised-button type="submit" color="primary">Locate</button>
			</form>
			<ng-template #elseBlock>
				<mat-progress-bar mode="indeterminate"></mat-progress-bar>
			</ng-template>
		</mat-step>
		<mat-step [stepControl]="sshGroup" label="SSH Credentials">
			<form [formGroup]="sshGroup" (ngSubmit)="test_ssh()" *ngIf="!sshRunning; else elseBlock">
				<mat-form-field>
					<input matInput [(ngModel)]="deviceData.user" formControlName="sshUserCtrl" type="text" placeholder="Username">
				</mat-form-field>
				<mat-form-field>
					<input matInput [(ngModel)]="deviceData.pass" formControlName="sshPassCtrl" type="password" placeholder="Password">
				</mat-form-field>
				<div>
					<button mat-raised-button type="submit" color="primary">Connect</button>
				</div>
			</form>
			<ng-template #elseBlock>
				<mat-progress-bar mode="indeterminate"></mat-progress-bar>
			</ng-template>
		</mat-step>
		<mat-step label="Configure">
			<form>
				<fieldset>
					<mat-form-field>
						<input matInput type="text" placeholder="Device Name">
						<mat-hint>e.g. "Living Room" or "Garage"</mat-hint>
					</mat-form-field>
				</fieldset>
				<fieldset>
					<mat-checkbox>Run server on boot (recommended)</mat-checkbox>
				</fieldset>
				<fieldset>
					<button mat-raised-button type="button" color="primary">Install</button>
				</fieldset>
			</form>
		</mat-step>
		<mat-step label="Installation">
			<p>
				Your sensor node will now begin the installation process. Ensure it has internet, then continue!
			</p>
			<div>
				<button mat-raised-button type="button" color="primary">Begin Installation</button>
			</div>
		</mat-step>
	</mat-vertical-stepper>
</mat-dialog-content>
