<h1 mat-dialog-title>Add New Device</h1>
<mat-dialog-content>
	<mat-vertical-stepper linear>
		<mat-step label="Locate Device">
			<form>
				<mat-form-field>
					<input matInput placeholder="Local IP Address" required>
				</mat-form-field>
				<button mat-raised-button type="button" color="primary">Locate</button>
			</form>
		</mat-step>
		<mat-step label="SSH Credentials">

		</mat-step>
		<mat-step label="Configure">

		</mat-step>
		<mat-step label="Installation">

		</mat-step>
	</mat-vertical-stepper>
</mat-dialog-content>
