<mat-toolbar color="primary" class="mat-raised">
	<span>
		<button mat-button (click)="sidenav.toggle()" class="sidenav-toggle-button"><mat-icon>menu</mat-icon></button>
	</span>
	<span>HomeSense</span>
</mat-toolbar>
<mat-sidenav-container>
	<mat-sidenav mode="push" color="primary" #sidenav>
		<!-- sidenav content -->
		<mat-list>
			<mat-list-item>
				<button mat-button (click)="sidenav.close()" routerLink="/devices" routerLinkActive="active">
					<mat-icon>settings_input_antenna</mat-icon> Devices
				</button>
			</mat-list-item>
			<mat-list-item>
				<button mat-button (click)="sidenav.close()" routerLink="/scenarios" routerLinkActive="active">
					<mat-icon>extension</mat-icon> Scenerios
				</button>
			</mat-list-item>
			<mat-list-item>
				<button mat-button (click)="sidenav.close()" routerLink="/settings" routerLinkActive="active">
					<mat-icon>settings</mat-icon> Settings
				</button>
			</mat-list-item>
		</mat-list>
	</mat-sidenav>

	<!-- primary content -->
	<main>
		<router-outlet></router-outlet>
	</main>
</mat-sidenav-container>
