<mat-toolbar>
	<span><h1>Devices</h1></span>
	<span class="fill-remaining-space"></span>
	<span>
		<button mat-button matTooltip="Add Device" (click)="newDeviceDialog()"><mat-icon>add_circle</mat-icon></button>
	</span>
</mat-toolbar>
<mat-grid-list cols="3" rowHeight="2:1" *ngIf="!loading else showSpinner">
	<mat-grid-tile *ngFor="let device of devices">
		<mat-card>
			<mat-card-title>{{ device.label }}</mat-card-title>
			<mat-card-subtitle>{{ device.mac }}</mat-card-subtitle>
			<mat-card-actions>
				<button mat-button matTooltip="Power Off"><mat-icon>power_settings_new</mat-icon></button>
				<button mat-button matTooltip="Reboot"><mat-icon>refresh</mat-icon></button>
				<button mat-button routerLink="/devices/{{ device.mac }}" matTooltip="Configure"><mat-icon>build</mat-icon></button>
			</mat-card-actions>
		</mat-card>
	</mat-grid-tile>
</mat-grid-list>
<ng-template #showSpinner>
	<div class="spinner-container"><mat-spinner></mat-spinner></div>
</ng-template>
